/.idea
/.nuxt
/frontend/.idea
/public/hot
/public/storage
/public/image
/public/_nuxt
/storage/*.key
/storage/api-docs
/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/ecosystem.config.js
/frontend/nuxt.config.js
/dist
/dist/
