lgWidth = 1360px
mdWidth = 1220px
smWidth = 1000px
tabletWidth = 768px
phoneSmallWidth = 360px

greyColor = #cccccc
darkGreyColor = #8F8F8F
textGreyColor = #898989
primaryColor = #fa3051
redColor = #ff0000
greenColor = #43a047
ratingColor = #e91e63
titleColor = #131313
mainColor = #000

lg = "(min-width: " + lgWidth + ")"
md = "(min-width: " + mdWidth + ") and (max-width: " + (lgWidth - 1) + ")"
sm = "(min-width: " + smWidth + ") and (max-width: " + (mdWidth - 1) + ")"
desktop = "(min-width: " + smWidth + ")"
tablet = "(min-width: " + tabletWidth + ") and (max-width: " + (smWidth - 1) + ")"
phone = "(max-width: " + (tabletWidth - 1) + ")"
phoneSm = "(max-width: " + (phoneSmallWidth - 1) + ")"

md_lg = "(min-width: " + mdWidth + ")"
tablet_md = "(min-width: " + tabletWidth + ") and (max-width: " + (lgWidth - 1) + ")"
tablet_sm = "(min-width: " + tabletWidth + ") and (max-width: " + (mdWidth - 1) + ")"
tablet_desktop = "(min-width: " + tabletWidth + ")"
phone_tablet = "(max-width: " + (smWidth - 1) + ")"
